<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#4e73df">

    <title>@(ViewData[ViewKeys.Title] ?? "Venjix")</title>

    @RenderSection("Styles", false)

    <link href="~/lib/daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="~/css/venjix.min.css" rel="stylesheet">

    <link rel="icon shortcut" runat="server" href="~/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon-16x16.png">
    <link rel="manifest" href="~/manifest.json">

    <script src="~/lib/feather-icons/feather.min.js"></script>

</head>

<body id="page-top">


    <div id="wrapper">
        <partial name="_SidebarPartial" />
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <partial name="_NavbarPartial" />
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <partial name="_FooterPartial" />
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i data-feather="chevron-up"></i>
    </a>


    <div class="modal animated--fade-in-up" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body border-0">Click "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer border-0">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" asp-controller="Login" asp-action="Logout">
                        <i data-feather="log-out" class="feather-fw mx-2"></i>Logout
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        feather.replace()
    </script>

    <!-- Bootstrap core JavaScript-->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script defer src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="~/js/sb-admin-2.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>


    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({
                trigger: 'focus'
            });
        })
    </script>

    @RenderSection("Scripts", false)

</body>
</html>