<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData[ViewKeys.Title]</title>

    <!-- Custom fonts for this template-->
    <link href="~/css/Nunito.css" rel="stylesheet preload" as="style">
    <link href="~/lib/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <meta name="theme-color" content="#4e73df">
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.css" rel="stylesheet">
    <!-- UI Template -->
    <link href="~/css/styles.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary " style="min-height:100%">

    <div class="container h-100">

        @RenderBody()
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>