@model VisualizeScatterModel
@{
    ViewData[ViewKeys.Title] = "Time Series Visualizer - Venjix";
    ViewData[ViewKeys.PageHeading] = "Time Series Visualizer";
    ViewData[ViewKeys.PageSubheading] = "View time Series data in line chart.";
}

<h1 class="h3 mb-2 text-gray-800">
    @ViewData[ViewKeys.PageHeading]
    <a tabindex="0" class="btn btn-link" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="@ViewData[ViewKeys.PageSubheading]">
        <i class="fas fa-info"></i>
    </a>
</h1>

<div class="card shadow mb-4">
    <div class="card-body">
        <form>
            <div class="form-group">
                <label asp-for="SensorAId">Sensor A</label>
                <div class="form-row">
                    <div class="col-5">
                        <select class="form-control" asp-for="SensorAId" asp-items="Model.Sensors"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SensorBId">Sensor B</label>
                <div class="form-row">
                    <div class="col-5">
                        <select class="form-control" asp-for="SensorBId" asp-items="Model.Sensors"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="StartDate">Date Range</label>
                <div class="form-row">
                    <div class="col-6">
                        <input type="datetime-local" class="form-control" asp-for="StartDate" step="1">
                    </div>
                    <div class="col-6">
                        <input type="datetime-local" class="form-control" asp-for="EndDate" step="1">
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary btn-icon-split" id="showButton">
                <span class="icon text-white-50">
                    <i class="fas fa-eye"></i>
                </span>
                <span class="text">Show</span>
            </button>
        </form>

        <div class="mt-4">
            <div id="chart"></div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/lib/Chart.js/Chart.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/lib/apexcharts/apexcharts.min.js"></script>
    <script>
        var data = [];
        var options = {
            series: [{
                data: data.slice()
            }],
            chart: {
                height: 350,
                type: 'scatter'
            },
            yaxis: {
                type: 'numeric'
            },
            xaxis: {
                type: 'numeric',
                tooltip: {
                    enabled: false
                }
            },
            legend: {
                show: false
            },
            tooltip: {
                custom: function ({ series, seriesIndex, dataPointIndex, w }) {
                    var point = data[dataPointIndex];
                    return '<div class="m-3">' +
                        '<span>' + $('#SensorAId option:selected').text() + ': ' + point[0] + '</span><br/>' +
                        '<span>' + $('#SensorBId option:selected').text() + ': ' + point[1] + '</span>' +
                        '</div>'
                }
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

        $("#showButton").on("click", function (e) {
            e.preventDefault();

            d = {
                sensorAId: $('#SensorAId option:selected').val(),
                sensorBId: $('#SensorBId option:selected').val(),
                startDate: $('#StartDate').val(),
                endDate: $('#EndDate').val()
            };

            $.ajax({
                type: "POST",
                url: "@Url.Action("ScatterData")",
                data: JSON.stringify(d),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    data = response;
                    chart.updateSeries([{
                        name: "Value",
                        data: response
                    }])
                }
            });
        });
    </script>
}