@model VisualizeFilterModel
@{
    ViewData[ViewKeys.Title] = "Visualize: Table - Venjix";
    ViewData[ViewKeys.PageHeading] = "Table View";
    ViewData[ViewKeys.PageSubheading] = "View data in table.";
}

<vc:header-panel page-heading="@ViewData[ViewKeys.PageHeading]" page-subheading="@ViewData[ViewKeys.PageSubheading]"
                 action="" action-label="" controller="" action-icon=""></vc:header-panel>

<div class="row">
    <div class="col-xxl-3 col-xl-4 col-lg-12">
        <div class="card shadow mb-4" style="min-height:450px;">
            <div class="card-body">
                <form method="post" asp-action="TableExport">
                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="SensorId">Sensor</label>
                            <select class="form-control" asp-for="SensorId" asp-items="Model.Sensors"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="reportrange">Date range</label>
                        <div class="form-row">
                            <div class="col">
                                <button type="button" class="btn btn-light btn-block btn-sm line-height-normal p-2" id="reportrange">
                                    <i class="mr-2 text-primary" data-feather="calendar"></i>
                                    <span></span>
                                    <i class="ml-1" data-feather="chevron-down"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </form>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-success btn-block text-xs" id="showButton">
                            <i data-feather="filter"></i> <span class="ml-2">Apply Filter</span>
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn  btn-primary btn-block text-xs" id="exportButton">
                            <i data-feather="download"></i> <span class="ml-2">Download</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-xxl-9 col-xl-8 col-lg-12">
        <div class="card shadow mb-4" style="min-height:450px;">
            <div class="card-body">
                <div class="table-responsive mt-5">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

@section Styles {
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/lib/daterangepicker/daterangepicker.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            var start = moment().subtract(29, "days").startOf("day");
            var end = moment().endOf("day");

            // ----- Functions
            function cb(start, end) {
                $("#startdate").val(start.format("yyyy-MM-DD") + "T00:00:00");
                $("#enddate").val(end.format("yyyy-MM-DD") + "T23:59:59");
                $("#reportrange span").html(
                    start.format("MMMM D, YYYY") + " - " + end.format("MMMM D, YYYY")
                );
            }

            function getFormData(extra = {}) {
                const dp = $("#reportrange").data("daterangepicker");
                const body = {
                    sensorId: $('#SensorId option:selected').val(),
                    startDate: dp.startDate,
                    endDate: dp.endDate,
                    ...extra
                };

                return JSON.stringify(body);
            }

            // ----- Date Range Picker
            $("#reportrange").daterangepicker(
                {
                    startDate: start,
                    endDate: end,
                    ranges: {
                        Today: [moment().startOf("day"), moment().endOf("day")],
                        Yesterday: [
                            moment().subtract(1, "days").startOf("day"),
                            moment().subtract(1, "days").endOf("day"),
                        ],
                        "Last 7 Days": [moment().subtract(6, "days").startOf("day"), moment().endOf("day")],
                        "Last 30 Days": [moment().subtract(29, "days").startOf("day"), moment().endOf("day")],
                        "This Month": [
                            moment().startOf("month"),
                            moment().endOf("month"),
                        ],
                        "Last Month": [
                            moment().subtract(1, "month").startOf("month"),
                            moment().subtract(1, "month").endOf("month"),
                        ],
                    },
                },
                cb
            );

            cb(start, end);

            // ----- DataTables
            var table = $('#dataTable').DataTable({
                serverSide: true,
                ajax: {
                    url: '@(Url.Action("TableData"))',
                    processing: true,
                    searching: false,
                    orderMulti: false,
                    type: 'POST',
                    contentType: 'application/json',
                    data: getFormData
                },
                columns: [
                    { name: "Timestamp", data: "timestamp", title: "Timestamp" },
                    { name: "Value", data: "value", title: "value" }
                ]
            });

            // ----- Button Handlers
            $('#showButton').on('click', function () {
                table.draw();
            });

            $('#exportButton').on('click', function () {
                $('#exportButton').prop("disabled", true);
                $.ajax({
                    url: '@Url.Action("TableExport")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: getFormData(),
                    xhrFields: {
                        responseType: 'blob'
                    },
                    success: function (data) {
                        var a = document.createElement('a');
                        var url = window.URL.createObjectURL(data);
                        a.href = url;
                        a.download = 'export.csv';
                        document.body.append(a);
                        a.click();
                        a.remove();
                        window.URL.revokeObjectURL(url);
                    },
                    complete: function() {
                        $('#exportButton').removeAttr("disabled");
                    }
                });
            });
        });

    </script>
}