@model VisualizeFilterModel
@{
    ViewData[ViewKeys.Title] = "Time Series Visualizer - Venjix";
    ViewData[ViewKeys.PageHeading] = "Time Series Visualizer";
    ViewData[ViewKeys.PageSubheading] = "View time Series data in line chart.";
}

<h1 class="h3 mb-2 text-gray-800">
    @ViewData[ViewKeys.PageHeading]
    <a tabindex="0" class="btn btn-link" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="@ViewData[ViewKeys.PageSubheading]">
        <i class="fas fa-info"></i>
    </a>
</h1>

<div class="card shadow mb-4">
    <div class="card-body">
        <form>
            <div class="form-group">
                <label asp-for="SensorId">Sensor</label>
                <div class="form-row">
                    <div class="col-5">
                        <select class="form-control" asp-for="SensorId" asp-items="Model.Sensors"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="StartDate">Date Range</label>
                <div class="form-row">
                    <div class="col-6">
                        <input type="datetime-local" class="form-control" asp-for="StartDate" step="1">
                    </div>
                    <div class="col-6">
                        <input type="datetime-local" class="form-control" asp-for="EndDate" step="1">
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary btn-icon-split" id="showButton">
                <span class="icon text-white-50">
                    <i class="fas fa-eye"></i>
                </span>
                <span class="text">Show</span>
            </button>
        </form>

        <div class="chart-area mt-4">
            <canvas id="myAreaChart"></canvas>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/lib/Chart.js/Chart.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/lib/Chart.js/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById("myAreaChart");
        var myLineChart = null;

        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';        

        $("#showButton").on("click", function (e) {
            e.preventDefault();

            d = {
                sensorId: $('#SensorId option:selected').val(),
                startDate: $('#StartDate').val(),
                endDate: $('#EndDate').val()
            };

            $.ajax({
                type: "POST",
                url: "@Url.Action("TimeSeriesData")",
                data: JSON.stringify(d),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: draw_graph
            });
        });

        function draw_graph(response) {
            if (myLineChart !== null) {
                myLineChart.destroy();
            }

            myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: response.x,
                    datasets: [{
                        label: "Value",
                        lineTension: 0.3,
                        backgroundColor: "rgba(78, 115, 223, 0.05)",
                        borderColor: "rgba(78, 115, 223, 1)",
                        pointRadius: 3,
                        pointBackgroundColor: "rgba(78, 115, 223, 1)",
                        pointBorderColor: "rgba(78, 115, 223, 1)",
                        pointHoverRadius: 3,
                        pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                        pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                        pointHitRadius: 10,
                        pointBorderWidth: 2,
                        data: response.y,
                    }],
                },
                options: {
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            left: 10,
                            right: 25,
                            top: 25,
                            bottom: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                            type: 'time',
                            ticks: {
                                maxTicksLimit: 10
                            },
                            gridLines: {
                                display: false,
                                drawBorder: false
                            },
                            time: {
                                unit: 'minute',
                                displayFormats: {
                                    minute: 'DD/MM hh:mm:ss'
                                }
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                maxTicksLimit: 5,
                                padding: 10
                            },
                            gridLines: {
                                color: "rgb(234, 236, 244)",
                                zeroLineColor: "rgb(234, 236, 244)",
                                drawBorder: false,
                                borderDash: [2],
                                zeroLineBorderDash: [2]
                            }
                        }],
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        titleMarginBottom: 10,
                        titleFontColor: '#6e707e',
                        titleFontSize: 14,
                        borderColor: '#dddfeb',
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        intersect: false,
                        mode: 'index',
                        caretPadding: 10,
                        callbacks: {
                            title: function (tooltipItem, chart) {
                                return moment(tooltipItem[0].xLabel).format("DD/MM/YYYY hh:mm:ss");
                            }
                        }
                    }
                }
            });
        }
    </script>
}