@model VisualizeFilterModel
@{
    ViewData[ViewKeys.Title] = "Visualize: Time Series - Venjix";
    ViewData[ViewKeys.PageHeading] = "Time Series Chart";
    ViewData[ViewKeys.PageSubheading] = "View time Series data in a line chart.";
}

<h1 class="h3 mb-2 text-gray-800">
    @ViewData[ViewKeys.PageHeading]
    <a tabindex="0" class="btn btn-link" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="@ViewData[ViewKeys.PageSubheading]">
        <i class="fas fa-info"></i>
    </a>
</h1>


<div class="row">
    <div class="col-xxl-3 col-xl-4 col-lg-12">
        <div class="card shadow mb-4" style="min-height:450px;">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label asp-for="SensorId">Sensor</label>
                        <select class="form-control" asp-for="SensorId" asp-items="Model.Sensors"></select>
                    </div>

                    <div class="form-group">
                        <label asp-for="UpdateInterval">
                            Auto update
                        </label>   <a tabindex="0" class="btn btn-link" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right"
                                      data-content="This auto update respect all the filter above. Make sure to extend the End Date to a time in the future">
                            <i class="fas fa-info fa-sm"></i>
                        </a>
                        <select class="form-control" asp-for="UpdateInterval" asp-items="Model.UpdateIntervals"></select>

                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate">Date range</label>
                        <div class="form-row">
                            <div class="col-3" hidden>
                                <input id="startdate" type="datetime-local" class="form-control" asp-for="StartDate" step="1">
                            </div>
                            <div class="col-3" hidden>
                                <input id="enddate" type="datetime-local" class="form-control" asp-for="EndDate" step="1">
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-light btn-sm line-height-normal p-3" id="reportrange">
                                    <i class="mr-2 text-primary" data-feather="calendar"></i>
                                    <span></span>
                                    <i class="ml-1" data-feather="chevron-down"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-success btn-block" id="showButton">
                        <i data-feather="filter"></i> <span class="ml-2 text-xs">Apply Filter</span>
                    </button>
                </form>

            </div>
        </div>
    </div>

    <div class="col-xxl-9 col-xl-8 col-lg-12">
        <div class="card shadow mb-4" style="min-height:450px;">
            <div class="card-body">
                <div class="mt-4">
                    <div id="chart"></div>
                </div>
            </div>
        </div>

    </div>
</div>


@section Styles {
    <link href="~/lib/Chart.js/Chart.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/lib/daterangepicker/daterangepicker.js"></script>
    <script src="~/lib/apexcharts/apexcharts.min.js"></script>
    <script>
        var data = [];
        var options = {
            series: [{
                name: $('#SensorId option:selected').text(),
                data: data.slice()
            }],
            chart: {
                id: 'realtime',
                height: 350,
                type: 'line'
            },
            dataLabels: {
                enabled: false
            },
            xaxis: {
                type: 'datetime',
                tooltip: {
                    enabled: false
                }
            },
            legend: {
                show: false
            },
            markers: {
                size: 4
            },
            tooltip: {
                x: {
                    formatter: function (value, { series, seriesIndex, dataPointIndex, w }) {
                        return moment(value).format("DD/MM/YYYY hh:mm:ss");
                    }
                }
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

        var interval = null;

        $("#showButton").on("click", function (e) {
            e.preventDefault();
            fetch_new_data();
        });

        $('#UpdateInterval').on("change", function () {
            if (interval !== null) {
                clearInterval(interval);
            }

            var selectedInterval = parseInt(this.value);
            if (selectedInterval == 0) return;

            interval = window.setInterval(function () {
                fetch_new_data();
            }, selectedInterval * 1000);
        });

        function fetch_new_data() {
            d = {
                sensorId: $('#SensorId option:selected').val(),
                startDate: $('#StartDate').val(),
                endDate: $('#EndDate').val()
            };

            $.ajax({
                type: "POST",
                url: "@Url.Action("TimeSeriesData")",
                data: JSON.stringify(d),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    data = response;
                    chart.updateSeries([{
                        name: $('#SensorId option:selected').text(),
                        data: response
                    }])
                }
            });
        }



        $(function () {
            var start = moment().subtract(29, "days");
            var end = moment();

            function cb(start, end) {

                $("#startdate").val(start.format("yyyy-MM-DD") + "T00:00:00");
                $("#enddate").val(end.format("yyyy-MM-DD") + "T23:59:59");
                $("#reportrange span").html(
                    start.format("MMMM D, YYYY") + " - " + end.format("MMMM D, YYYY")
                );
            }

            $("#reportrange").daterangepicker(
                {
                    startDate: start,
                    endDate: end,
                    ranges: {
                        Today: [moment(), moment()],
                        Yesterday: [
                            moment().subtract(1, "days"),
                            moment().subtract(1, "days"),
                        ],
                        "Last 7 Days": [moment().subtract(6, "days"), moment()],
                        "Last 30 Days": [moment().subtract(29, "days"), moment()],
                        "This Month": [
                            moment().startOf("month"),
                            moment().endOf("month"),
                        ],
                        "Last Month": [
                            moment().subtract(1, "month").startOf("month"),
                            moment().subtract(1, "month").endOf("month"),
                        ],
                    },
                },
                cb
            );

            cb(start, end);
        });

    </script>
}