@model LoginModel
@{
    ViewData[ViewKeys.Title] = "Venjix";
    Layout = "_LoginLayout";
}
 
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-xl-8 col-xxl-6">
            <div class="card o-hidden animated--fade-in border-0 shadow-lg my-5">
                <div class="card-body p-0"> 
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome To Venjix!</h1>
                                </div>
                                @if (ViewData[ViewKeys.Message] != null)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData[ViewKeys.Message]
                                    </div>
                                }
                                <form class="user" method="post" asp-action="LoginAuthorization" asp-antiforgery="true">
                                    <div class="form-group">
                                        <input name="username" type="text" class="form-control form-control-user" autocomplete="username" placeholder="Username" asp-for="Username">
                                    </div>
                                    <div class="form-group">
                                        <input name="password" type="password" class="form-control form-control-user" autocomplete="current-password" placeholder="Password" asp-for="Password">
                                    </div>
                                    <button class="btn btn-primary btn-user btn-block" type="submit">
                                        Login
                                    </button>
                                    <hr>
                                    <a href="https://github.com/fahminlb33/Venjix" class="btn btn-github btn-user btn-block">
                                        <i data-feather="github" class="mr-2"></i> Fork me on GitHub!
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
 