@model Venjix.Models.ViewModels.SettingsModel

<p>Venjix's system status: <b>@Model.HealthStatus</b></p>
<ul>
    @foreach (var entry in Model.HealthChecks)
    {
        <li>@entry.Key: @entry.Value</li>
    }
</ul>
<p>
    You can check Venjix's server health status in JSON by visiting <a href="/health">this link</a>.<br />
    You can also add this URL to your Dockerfile HEALTHCHECK.
</p>