@model SettingsModel

<form method="post" asp-action="TelegramSave" asp-controller="Home">
    <div class="form-group">
        <label asp-for="TelegramToken">Telegram Token</label>
        <input type="text" class="form-control" asp-for="TelegramToken">
        <span asp-validation-for="TelegramToken" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mb-2">Save</button>
    <a class="btn btn-outline-primary mb-2" asp-action="TelegramRefresh" asp-controller="Home">Refresh Activation</a>
</form>

<h5 class="mt-3">How to enable Telegram Bot</h5>
<ol>
    <li>Create bot by chatting to BotFather.</li>
    <li>Chat "VENJIX-NOTIFY" to the bot.</li>
    <li>Copy bot token to above form and click <b>Save</b>.</li>
    <li>The status will turn <b>Activated</b> if the process is successful.</li>
    <li>To disable, remove token and save.</li>
</ol>
<small>Currently bot only supports single channel message (you can add the bot to a group instead of directly chatting to the bot).</small>