<h1>Venjix</h1>
<p class="lead">Multipurpose IOT data collection, visualization, and forecasting tool using ASP.NET Core MVC.</p>

<p>
    This app is created by Fahmi Noor Fiqri.<br />
    Follow me on <a href="https://github.com/fahminlb33">GitHub</a> or <a href="https://www.instagram.com/fahminoorfiqri">Instagram</a>.
</p>