@model SettingsModel
@{
    ViewData[ViewKeys.Title] = "Settings - Venjix";
    ViewData[ViewKeys.PageHeading] = "Settings";
    ViewData[ViewKeys.PageSubheading] = "Change Venjix system settings and integration.";
}

<vc:header-panel page-heading="@ViewData[ViewKeys.PageHeading]" page-subheading="@ViewData[ViewKeys.PageSubheading]"
                 action="" action-label="" controller="" action-icon=""></vc:header-panel>

<div class="row">

    <div class="col">
       
        <div class="card animated--fade-in"> 
            <div class="card-body p-1">
                <ul class="nav nav-borders" id="cardTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="bot-tab" href="#bot" data-toggle="tab" role="tab" aria-controls="bot" aria-selected="true">Telegram Bot</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="api-tab" href="#api" data-toggle="tab" role="tab" aria-controls="api" aria-selected="false">API Key</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="health-tab" href="#health" data-toggle="tab" role="tab" aria-controls="health" aria-selected="false">Health Checks</a>
                    </li>
                </ul>

                <div class="tab-content mt-2 p-4" id="cardTabContent">
                    <div class="tab-pane fade show active" id="bot" role="tabpanel" aria-labelledby="bot-tab">
                        <h6 class="mb-3">Status: <span class="badge badge-@(Model.IsTelegramTokenValid ? "success" : "danger")">@(Model.IsTelegramTokenValid ? "Activated" : "Disabled")</span></h6>
                        <partial name="_SettingsTelegramBotPartial" />
                    </div>
                    <div class="tab-pane fade" id="api" role="tabpanel" aria-labelledby="api-tab"> 
                        <partial name="_SettingsKeyPartial" />
                    </div>
                    <div class="tab-pane fade" id="health" role="tabpanel" aria-labelledby="health-tab">
                         
                        <partial name="_SettingsHealthPartial" />
                    </div>
                </div>
            </div>
        </div>
    </div>
       
</div>