@model SettingsModel
@{
    ViewData[ViewKeys.Title] = "Settings - Venjix";
    ViewData[ViewKeys.PageHeading] = "Settings";
    ViewData[ViewKeys.PageSubheading] = "Change Venjix system settings and integration.";
}

<h1 class="h3 mb-2 text-gray-800">
    @ViewData[ViewKeys.PageHeading]
    <a tabindex="0" class="btn btn-link" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="@ViewData[ViewKeys.PageSubheading]">
        <i class="fas fa-info"></i>
    </a>
</h1>
<div class="row">
    <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Telegram Bot <span class="badge badge-@(Model.IsTelegramTokenValid ? "success" : "danger")">@(Model.IsTelegramTokenValid ? "Activated" : "Disabled")</span></h6>
            </div>
            <div class="card-body">
                <partial name="_SettingsTelegramBotPartial" />
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">API Key</h6>
            </div>
            <div class="card-body">
                <partial name="_SettingsKeyPartial" />
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Health Checks</h6>
            </div>
            <div class="card-body">
                <partial name="_SettingsHealthPartial" />
            </div>
        </div>
    </div>
</div>