@model SensorEditModel
@{
    ViewData[ViewKeys.Title] = Model.IsEdit ? "Edit sensor - Venjix" : "Add new sensor - Venjix";
    ViewData[ViewKeys.PageHeading] = Model.IsEdit ? "Edit Sensor" : "Add Sensor";
    ViewData[ViewKeys.PageSubheading] = Model.IsEdit ? "Edit sensor fields." : "Add sensor fields.";
}

<h4 class="h4 mb-2 text-gray-800">
    @ViewData[ViewKeys.PageHeading]
    <a tabindex="0" class="btn btn-link btn-sm" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="@ViewData[ViewKeys.PageSubheading]">
        <i class="fas fa-info fa-xs"></i>
    </a>
</h4>

<div class="row">
    <div class="col-sm-12 col-12 col-md-7 col-lg-9">
        <div class="card mb-2">
            <div class="card-body">
                <form method="post" asp-action="Save">
                    <input type="hidden" asp-for="IsEdit" />
                    <input type="hidden" asp-for="SensorId" />

                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="ApiField">API field</label>
                            <input type="text" class="form-control" asp-for="ApiField">
                            <span asp-validation-for="ApiField" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label asp-for="DisplayName">Display name</label>
                            <input type="text" class="form-control" asp-for="DisplayName">
                            <span asp-validation-for="DisplayName" class="text-danger"></span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-5 col-lg-3">
        <div class="nav-sticky">
            <div class="card">
                <div class="card-body">
                    <ul class="nav flex-column" id="stickyNav"> 
                        <li class="nav-item"><a class="nav-link" href="#sidenavComponent">Side Navigation</a></li>
                        <li class="nav-item"><a class="nav-link" href="#stickNavComponent">Sticky Navigation</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>
