@{
    ViewData[ViewKeys.Title] = "Sensors - Venjix";
    ViewData[ViewKeys.PageHeading] = "Manage Sensors";
    ViewData[ViewKeys.PageSubheading] = "Add, edit, and delete monitored sensors.";
@using Venjix.Views.Components;
}
 

<div class="card shadow mb-4">
    <div class="card-body">
        @if (TempData[ViewKeys.Message] != null)
        {
            <div class="alert alert-@((bool)TempData[ViewKeys.IsSuccess] == true ? "success" : "danger")" role="alert">
                @TempData[ViewKeys.Message]
            </div>
        }

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div> 

@section Styles {
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#dataTable').DataTable({
                serverSide: true,
                ajax: {
                    url: '@(Url.Action("TableData"))',
                    type: 'POST',
                    contentType: 'application/json',
                    data: function (d) {
                        return JSON.stringify(d);
                    }
                },
                columns: [
                    { name: "ApiField", data: "apiField", title: "API Field" },
                    { name: "DisplayName", data: "displayName", title: "Display Name" },
                    {
                        title: "Manage",
                        width: '200px',
                        data: null,
                        defaultContent: '<button class="btn btn-outline-primary btn-sm">Edit</button> <button class="btn btn-outline-danger btn-sm">Delete</button>'
                    }
                ]
            });

            $('#dataTable tbody').on('click', 'button', function () {
                var button = $(this).text()
                var data = table.row($(this).parents('tr')).data();

                if (button == 'Edit') {
                    window.location.href = '@(Url.Action("Edit", "Sensors"))/' + data.sensorId
                } else {
                    window.location.href = '@(Url.Action("Delete", "Sensors"))/' + data.sensorId
                }
            });
        });
    </script>
}
