@{
    ViewData[ViewKeys.Title] = "Oops! An error occured.";
}

<div class="text-center">
    <div class="error mx-auto">Oops!</div>
    <p class="lead text-gray-800 mb-5">Cannot execute the last action.</p>
    <p class="text-gray-500 mb-0">Please try again.</p>
    <a asp-controller="Home" asp-action="Index">&larr; Back to Dashboard</a>
</div>