@{ 
    ViewData[ViewKeys.Title] = "Unauthorized action";
}

<div class="text-center">
    <div class="error mx-auto">Unauthorized</div>
    <p class="lead text-gray-800 mb-5">Trying to execute unauthorized action.</p>
    <p class="text-gray-500 mb-0">It looks like you don't have privilege to execute that action.</p>
    <a asp-controller="Home" asp-action="Index">&larr; Back to Dashboard</a>
</div>