<div class="container">
    <div class="row">
        <div class="col">
            <header class="card card-waves animated--fade-in-up" style="min-height:350px">
                <div class="card-body px-5 py-5">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-6">
                            <h1 class="text-primary my-3">Venjix</h1> 
                            <p class="lead mt-4">Multipurpose IoT data collection, visualization, and forecasting tool using ASP.NET Core MVC.</p>
                            <a class="btn btn-github mt-4" href="https://github.com/fahminlb33/Venjix">
                                <i data-feather="github" class="mr-2"></i> View Repository
                            </a>
                        </div>
                        <div class="col-lg-4"> 
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <header class="card mt-3 animated--fade-in-up">
                <div class="card-body p-4">
                    <h4>Contributors</h4>
                    <ul>
                        <li>Fahmi Noor Fiqri <a href="https://github.com/fahminlb33">GitHub</a> or <a href="https://www.instagram.com/fahminoorfiqri">Instagram</a>.</li>
                        <li>Muhammad Fahmi Rasyid <a href="https://github.com/rasyidf">GitHub</a>.</li>
                    </ul>

                    <a class="btn btn-dark btn-sm" target="_blank" href="https://github.com/fahminlb33/Venjix/graphs/contributors">See All Contributors</a>
                </div>
            </header>
        </div>
    </div>
</div>