@model UserEditModel
@{
    ViewData[ViewKeys.Title] = Model.IsEdit ? "Edit user - Venjix" : "Add new user - Venjix";
    ViewData[ViewKeys.PageHeading] = Model.IsEdit ? "Edit User" : "Add User";
    ViewData[ViewKeys.PageSubheading] = Model.IsEdit ? "Edit user profile." : "Add user profile.";

    var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value;
    var loggedRole = User.FindFirst(System.Security.Claims.ClaimTypes.Role).Value;
    var disableRole = !Venjix.Infrastructure.Authentication.Roles.CanChangeRole(loggedRole, int.Parse(userId));
}

<vc:header-panel page-heading="@ViewData[ViewKeys.PageHeading]" page-subheading="@ViewData[ViewKeys.PageSubheading]"
                 action="" action-label="" controller="" action-icon=""></vc:header-panel>
<div class="row">
    <div class="col-lg-8 col-12">
        <div class="card mb-4"> 
            <div class="card-body">
                @if (TempData[ViewKeys.Message] != null)
                {
                    <div class="alert alert-@((bool)TempData[ViewKeys.IsSuccess] == true ? "success" : "danger")" role="alert">
                        @TempData[ViewKeys.Message]
                    </div>
                }

            <form method="post" asp-action="Save">
                <input type="hidden" asp-for="IsEdit" />
                <input type="hidden" asp-for="UserId" />

                <div class="form-row">
                    <div class="form-group col">
                        <label asp-for="Username">Username</label>
                        <input type="text" class="form-control" asp-for="Username">
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label asp-for="Password">Password</label>
                        <input type="password" class="form-control" autocomplete="off" asp-for="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label asp-for="Password">Role</label>
                        <select class="form-control" asp-for="Role" asp-items="Model.Roles" readonly-when="disableRole"></select>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
            </div>
        </div>
    </div>
</div>